//Custom Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

$base-color: #efda46;
$secondary-color: #186b35;
$third-color: #e84f4f;

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: "Open Sans", sans-serif;
}

.App {
    min-height: 100vh;
    background: #367aa2;
}

.recipes {
    padding-bottom: 150px;
    text-align: center;
    &-container {
        width: 70%;
        margin: 0px auto;
        margin-top: 50px;
        display: grid;
        grid-auto-rows: 333px;
        grid-template-columns: repeat(3, 33%);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    a{
        color: $base-color;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
    }
    &-item {
        &-content{
            position: relative;
            margin: auto;
            overflow: hidden;
            width: 100%;
            height: 100%;

            &-text {
                position: absolute;
                z-index: 999;
                left: 0;
                right: 0;
                top: 0; /* Adjust this value to move the positioned div up and down */
                text-align: center;
                display: flex;
                text-align: center;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;

                span {
                    width: 80%;
                    transition: all 2000ms ease-out;
                }
            }

            img{
                max-width: 100%;
                transition: all 2.0s;
                display: block;
                width: 100%;
                height: 100%;
                transform: scale(1);
                filter: brightness(40%);
            }

            &:hover {

                
                img {
                    transform: scale(1.9);
                }
                span {
                    font-size: 31px;
                    width: 100%;
                }
            }
        }
        
    }
}