.input-group {
    width: 11% !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;
    margin: 0 0.2rem;
    &-append{
    button {
        height: 89%;
    }
    }
    input {
        font-size: 0.8rem;
    }
}