.input-group {
    width: 11% !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;
    margin: 0 0.2rem;
    &-append{
    button {
        height: 89%;
    }
    }
    input {
        font-size: 0.8rem;
        /* Chrome, Safari, Edge, Opera */
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }

        /* Firefox */
        &[type=number] {
        -moz-appearance: textfield;
        }
    }

    
}

.food-add {
    text-align: center;
}