.navbar {
    .nav-item {
            a {
            color: white;
            font-weight: bold;
            transition: all 250ms ease;
            padding-right: .5rem;
            padding-left: .5rem;
            &:hover{
                text-decoration: none;
                color: #a4a4a4;
            }
        }
    }
    &-basket {
        position: relative;
        font-size: 22px;
        color: white;
        transition: all 250ms ease;
        padding-right: .5rem;
        padding-left: .5rem;
        &:hover {
            color: #a4a4a4;
        }
        .badge{
            position: absolute;
            font-size: 11px;
            bottom: -2px;
            left: 0px;
        }
    }
}